$background-1: #131a1c;
$background-2: #111719;
$background-3: #0d1416;

$accent-1: #f28fad;
$accent-2: #f8bd96;
$accent-3: #fae3b0;
$accent-4: #abe9b3;
$accent-5: #89dceb;
$accent-6: #96cdfb;
$accent-7: #ddb6f2;
$accent-8: #c9cbff;

$primary-accent: $accent-5;
$secondary-accent: $accent-5;

$foreground-color: #d9e0ee;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};